{% extends 'layout.html' %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="exemption-number" method="post">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            Do you know your exemption certificate number?
          </legend>

          <span class="nhsuk-hint nhsuk-u-margin-bottom-2">
            Your certificate number is on your original exemption certificate. This could be a paper certificate, an email or a plastic card.
          </span>

          <div class="nhsuk-form-group">

            <div class="nhsuk-radios">

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="cert-number-1" name="cert-number" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="cert-number-1">
                  Yes, I know my certificate number
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="cert-number-2" name="cert-number" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="cert-number-2">
                  No, I do not know my certificate number
                </label>
              </div>

            </div>
          </div>

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

      {{ backLink({
        "href": "start-page",
        "text": "Back to start page"
      }) }}

    </div>
  </div>

{% endblock %}
